<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="myapp.treeheight">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->

    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front.autofocus" android:required="false"/>

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="TreeHeight"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!---->
        <!--<meta-data-->
            <!--android:name="com.google.android.geo.API_KEY"-->
            <!--android:value="@string/google_maps_key" />-->

        <activity
            android:name=".Home"
            android:label="TreeHeight">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Cover"
            android:label="TreeHeight">
        </activity>
        <activity
            android:name=".CameraVertical"
            android:label="TreeHeight">
        </activity>
        <!--<activity-->
            <!--android:name=".CameraM"-->
            <!--android:label="TreeHeight">-->
        <!--</activity>-->
        <!--<activity-->
            <!--android:name=".CameraL"-->
            <!--android:label="TreeHeight">-->
        <!--</activity>-->
        <!--<activity-->
            <!--android:name=".Display"-->
            <!--android:label="TreeHeight">-->
        <!--</activity>-->
    </application>
</manifest>